[submodule "third_party/robots_realtime"]
	path = third_party/robots_realtime
	url = https://github.com/graph-robots/controllers.git
[submodule "third_party/Variational-Automation-Benchmark"]
	path = third_party/Variational-Automation-Benchmark
	url = https://github.com/ehehee/Variational-Automation-Benchmark.git
	branch = packing_v0.1
[submodule "third_party/robosuite"]
	path = third_party/robosuite
	url = https://github.com/Max-Fu/robosuite.git
	branch = maxf/egl_context
[submodule "third_party/LIBERO-PRO"]
	path = third_party/LIBERO-PRO
	url = https://github.com/KeplerC/LIBERO-PRO.git
